<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<div class="container">
    <div class="row">
        <div class="span12">
            <div id="map_canvas">

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12">
            <h1>
                <span class="big-header-with-icon-container">
                    <%= I18n::t('default.recent_discussions') %>
                    <i></i>
                </span>
                <hr />
            </h1>
            <div class="row">
                <div class="span3">
                    <article class="post-announce">
                        <div class="post-announce__image-container">
                            <a href="/post/1">
                                <img width="110" height="110" src="/images/post-announce.png" />
                            </a>
                        </div>
                        <h2>
                            <a href="/post/1">
                                Рекордно далекий блазар озадачил астрофизиков
                            </a>
                        </h2>
                        <p>
                            Астрофизики из Калифорнийского университета впервые определили расстояние до рекордно далекого блазара PKS 1424+240, однако не смогли объяснить особенностей его излучения, которое значительно отличается от излучения других подобных объектов.
                        </p>
                        <a href="/user/13" class="post-announce__user-link"><i class="icon-user"></i> Artemische</a>
                        <div class="post-announce__controls">
                            <a href="post-announce__comments-link">
                                <i class="icon-comment icon-white"></i>
                                45
                            </a>
                            <a href="post-announce__raiting">
                                <i class="icon-signal icon-white"></i>
                                174
                            </a>
                        </div>
                    </article>
                </div>
                
                <div class="span3">
                    <article class="post-announce">
                        <div class="post-announce__image-container">
                            <a href="/post/1">
                                <img width="110" height="110" src="/images/post-announce.png" />
                            </a>
                        </div>
                        <h2>
                            <a href="/post/1">
                                «Хаббл» сфотографировал пыльную галактику в Большой Медведице
                            </a>
                        </h2>
                        <p>
                            Астрономы при помощи телескопа «Хаббл» получили рекордно детальное изображение галактики NGC 2768 в Большой Медведице. Изображение в высоком разрешении и его описание доступно на сайте космической обсерватории.
                        </p>
                        <a href="/user/13" class="post-announce__user-link"><i class="icon-user"></i> Artemische</a>
                        <div class="post-announce__controls">
                            <a href="post-announce__comments-link">
                                <i class="icon-comment icon-white"></i>
                                1345
                            </a>
                            <a href="post-announce__raiting">
                                <i class="icon-signal icon-white"></i>
                                -30
                            </a>
                        </div>
                    </article>
                </div>
                
                <div class="span3">
                    <article class="post-announce">
                        <div class="post-announce__image-container">
                            <a href="/post/1">
                                <img width="110" height="110" src="/images/post-announce.png" />
                            </a>
                        </div>
                        <h2>
                            <a href="/post/1">
                                Любители космонавтики обнаружили советский «Марс-3» на фотографии NASA
                            </a>
                        </h2>
                        <p>
                            Российские любители космонавтики в ходе совместного изучения фотографий со спутника MRO обнаружили объект, который с высокой вероятностью действительно является советским аппаратом «Марс-3», находящийся на поверхности планеты с 1971 года. Об этом говорится в сообщении, опубликованном на сайте NASA.
                        </p>
                        <a href="/user/13" class="post-announce__user-link"><i class="icon-user"></i> Artemische</a>
                        <div class="post-announce__controls">
                            <a href="post-announce__comments-link">
                                <i class="icon-comment icon-white"></i>
                                12
                            </a>
                            <a href="post-announce__raiting">
                                <i class="icon-signal icon-white"></i>
                                13
                            </a>
                        </div>
                    </article>
                </div>
                
                <div class="span3">
                    <article class="post-announce">
                        <div class="post-announce__image-container">
                            <a href="/post/1">
                                <img width="110" height="110" src="/images/post-announce.png" />
                            </a>
                        </div>
                        <h2>
                            <a href="/post/1">
                                «Чандра» заснял похожие на Солнце звезды вне Млечного пути
                            </a>
                        </h2>
                        <p>
                            Космический рентгеновский телескоп «Чандра» получил снимки молодых звезд, сопоставимых по массе с Солнцем, в Малом магеллановом облаке. Снимок туманности NGC 602, в которой найдены звезды, а также его описание опубликованы на сайте телескопа.
                        </p>
                        <a href="/user/13" class="post-announce__user-link"><i class="icon-user"></i> Artemische</a>
                        <div class="post-announce__controls">
                            <a href="post-announce__comments-link">
                                <i class="icon-comment icon-white"></i>
                                12
                            </a>
                            <a href="post-announce__raiting">
                                <i class="icon-signal icon-white"></i>
                                13
                            </a>
                        </div>
                    </article>
                </div>
            </div>
            
            <div class="row">
                <div class="span3">
                    <article class="post-announce">
                        <div class="post-announce__image-container">
                            <a href="/post/1">
                                <img width="110" height="110" src="/images/post-announce.png" />
                            </a>
                        </div>
                        <h2>
                            <a href="/post/1">
                                Гравитационные линзы помогут рассмотреть 100 миллиардов «двойников» Земли
                            </a>
                        </h2>
                        <p>
                            Астрономы из Японии и Новой Зеландии предложили новую стратегию поиска похожих на Землю планет, число которых в нашей галактике ученые оценили в 100 миллиардов штук. Стратегия основана на методе микролинзирования, сообщается в статье в Monthly Notices of the Royal Astronomical Society. Обзор статьи предлагает сайт Королевского астрономического общества Великобритании.
                        </p>
                        <a href="/user/13" class="post-announce__user-link"><i class="icon-user"></i> Artemische</a>
                        <div class="post-announce__controls">
                            <a href="post-announce__comments-link">
                                <i class="icon-comment icon-white"></i>
                                12
                            </a>
                            <a href="post-announce__raiting">
                                <i class="icon-signal icon-white"></i>
                                13
                            </a>
                        </div>
                    </article>
                </div>
            </div>
            
            <div class="row">
                <div class="span12 text-align-center-container">
                    <a href="/posts" class="show-more-discussions-link">
                        <%= I18n::t("default.show_more_discussions") %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>